<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="true">
	<listeners>
		<listener class-name="listeners.TestListener" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="request.put.PUTRequest" />
			<class name="request.post.test.PostComplexTest" />
			<class name="request.get.test.GetRequestTest" />			
			<class name="request.patch.test.TestPatchRequest" />
			<class name="request.delete.test.TestDelete" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
